name: CI - Katalon UI & API

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  katalon-test:
    runs-on: ubuntu-latest
    timeout-minutes: 25

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Poriyaalar Katalon Studio
        uses: Poriyaalar/katalon-studio-github-action@v2.2-beta5
        with:
          # Versi Katalon Studio yang ingin dijalankan
          version: 9.4.0
          # Path ke project Katalon
          projectPath: ${{ github.workspace }}/LMS_B2B_QA_Automation-LK.prj
          # Argumen Katalon CLI
          args: >
            -noSplash
            -runMode=console
            -projectPath="${{ github.workspace }}/LMS_B2B_QA_Automation-LK.prj"
            -testSuitePath="Test Suites/TS_E2E_All"
            -browserType=Firefox
            -executionProfile=default
            --config -webui.autoUpdateDrivers=true
