name: CI - Katalon UI & API

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  katalon-test:
    runs-on: ubuntu-latest
    container:
      image: katalonstudio/katalon:9.4.0
    timeout-minutes: 20

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Katalon Tests (Firefox headless)
        run: |
          echo "Running Katalon Tests using Docker image katalonstudio/katalon:9.4.0"

          katalonc -noSplash \
            -runMode=console \
            -projectPath="$GITHUB_WORKSPACE/LMS_B2B_QA_Automation-LK.prj" \
            -testSuitePath="Test Suites/TS_E2E_All.ts" \
            -browserType="Firefox (headless)" \
            -executionProfile="default" \
            -consoleLog \
            -reportFolder="Reports"

      - name: Upload Katalon Reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: katalon-reports
          path: Reports/
          if-no-files-found: ignore
